<div class="arial container">
    <h1 class="text-center responsive-title oswald"> O nama</h1>
    <hr class="mt-2">
    <h5 class="bg-danger rounded text-white p-3 mt-5"> PJ-TRANSPORT D.O.O. je tvrtka specijalizirana za prodaju naftnih derivata, 
        plina i transport raznih vrsta tereta u domaćem i međunarodnom cestovnom prijevozu.</h5>
</div>
    <div class="container">
        <h1 class="mt-4 px-3">Naša priča</h1>
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
    
        <p class="col-md-5 text-wrap justify p-3 ">
            Ponosni smo na naše stručno iskustvo u brojnim registriranim djelatnostima kao što su: proizvodnja naftnih derivata,
            transport nafte naftovodima, transport naftnih derivata produktovodima, transport nafte, naftnih derivata
            i biogoriva cestovnim vozilima, trgovina na veliko naftnim derivatima, trgovina na malo naftnim derivatima, 
            skladištenje ukapljenog plina, trgovina na veliko ukapljenim plinom, trgovina na malo ukapljenim naftnim plinom,
            organiziranje tržišta plina, transport, skladištenje, distribucija, trgovina i opskrba plinom, prijevoz tereta
            u unutarnjem cestovnom prometu, prijevoz tereta u međunarodnom cestovnom prometu, prijevoz tereta za vlastite
            potrebe, agencijska djelatnost u cestovnom prijevozu, kupnja, skladištenje i prodaja probe, pružanje usluga u trgovini i druge djelatnosti.
            <br>
            <br>
            Posjedujemo stručni tim koji je brz, efikasan i pouzdan te će u raznim uvjetima savladati svaki teren na zahtjevnom tržištu u zadanom roku.
            Svakodnevno se susrećemo sa raznim preprekama i različitim terenima, ali naši klijenti i poslovni partneri garantiraju
            našu sigurnost i pouzdanost.
        </p>
        <img class="responsive-img mt-4" src="../../../assets/images/pumpa-lopar2.jpg" alt="PJ-OIL">
    </div>
</div>
<div class="arial text-center mt-5 container">
    <h1>Naša strategija</h1>
    <hr>
    <div class="container text-center">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12 mb-4">
            <i class="bi bi-rocket-takeoff fs-1"></i>
            <p class="w-75 h-50 mx-auto mt-3 justify">Pružiti našim kupcima i klijentima najbolji benzinski servis na našoj benzinskoj postaji
                i vrhunska goriva po konkretnoj cijeni, te vrhunski transport naftnih derivata našim 
                specijaliziranim vozilima.
            </p>
            <h2 class="mt-4">MISIJA</h2>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-4">
            <i class="bi bi-lightbulb fs-1"></i>
            <p class="w-75 h-50 mx-auto mt-3 justify"> Kvalitetnim transportom naftnih derivata, te kvalitetnom ponudom goriva, 
                dobro opskrbljenom benzinskom trgovinom i susretljivim osobljem želimo postati omiljena tvrtka za 
                opskrbu gorivom pojedinca i poduzeća.
            </p>
            <h2 class="mt-4">VIZIJA</h2>
          </div>
          <div class="col-lg-4 col-md-6 col-12 mb-4 ">
            <i class="bi bi-award fs-1 "></i>
            <p class=" mx-auto w-75 h-50 mt-3 justify"> Naš glavni cilj je zadovoljstvo klijenta, te smo maksimalno posvećeni našim 
                klijentima kako bi pronašli najbolje i najpristupačnije rješenje za bilo kakvu vrstu cestovnog 
                transporta.
            </p>
            <h2 class="mt-4">CILJ</h2>
          </div>
        </div>
      </div>
      <hr class="mt-2">
</div>
    

