<div class="container px-3">
    <h1 class="text-center responsive-title "> O nama</h1>
    <hr class="mt-2">
    <p class="bg-danger rounded text-white text-center p-3 mt-5"> PJ-TRANSPORT D.O.O. je tvrtka specijalizirana za prodaju naftnih derivata, 
        plina i transport raznih vrsta tereta u domaćem i međunarodnom cestovnom prijevozu.</p>
</div>
    <h2 class="mt-5 text-center ">Naša priča</h2>
    <div class="container px-3 bg-pump rounded position-relative">  
        <div class="d-flex flex-column flex-md-row justify-content-end">
            <p class="col-md-5 justify ms-3 bg-white bg-opacity-75 p-3 rounded">
                Ponosni smo na naše stručno iskustvo u brojnim registriranim djelatnostima kao što su: proizvodnja naftnih derivata,
                transport nafte naftovodima, transport naftnih derivata produktovodima, transport nafte, naftnih derivata
                i biogoriva cestovnim vozilima, trgovina na veliko naftnim derivatima, trgovina na malo naftnim derivatima, 
                skladištenje ukapljenog plina, trgovina na veliko ukapljenim plinom, trgovina na malo ukapljenim naftnim plinom,
                organiziranje tržišta plina, transport, skladištenje, distribucija, trgovina i opskrba plinom, prijevoz tereta
                u unutarnjem cestovnom prometu, prijevoz tereta u međunarodnom cestovnom prometu, prijevoz tereta za vlastite
                potrebe, agencijska djelatnost u cestovnom prijevozu, kupnja, skladištenje i prodaja probe, pružanje usluga u trgovini i druge djelatnosti.
                <br>
                <br>
                Posjedujemo stručni tim koji je brz, efikasan i pouzdan te će u raznim uvjetima savladati svaki teren na zahtjevnom tržištu u zadanom roku.
                Svakodnevno se susrećemo sa raznim preprekama i različitim terenima, ali naši klijenti i poslovni partneri garantiraju
                našu sigurnost i pouzdanost.
            </p>
        </div>
    </div>
    
<div class="text-center mt-5 container">
    <h2>Naša strategija</h2>
    <div class="container text-center">
        <div class="row px-3">
          <div class="col-lg-4 col-md-6 mb-2 border-top mt-2">
            <h2 class="mt-3">MISIJA</h2>
            <i class="bi bi-rocket-takeoff fs-1 mt-5"></i>
            <p class="w-75 h-50 mx-auto mt-3 ">Pružiti našim kupcima i klijentima najbolji benzinski servis na našoj benzinskoj postaji
                i vrhunska goriva po konkretnoj cijeni, te vrhunski transport naftnih derivata našim 
                specijaliziranim vozilima.
            </p>
          </div>
          <div class="col-lg-4 col-md-6 mb-2 border-top  mt-2">
            <h2 class="mt-3">VIZIJA</h2>
            <i class="bi bi-lightbulb fs-1 mt-5"></i>
            <p class="w-75 mx-auto mt-3 "> Kvalitetnim transportom naftnih derivata, te kvalitetnom ponudom goriva, 
                dobro opskrbljenom benzinskom trgovinom i susretljivim osobljem želimo postati omiljena tvrtka za 
                opskrbu gorivom pojedinca i poduzeća.
            </p>
            
          </div>
          <div class="col-lg-4 col-md-6 border-top mt-2">
            <h2 class="mt-3">CILJ</h2>
            <i class="bi bi-award fs-1"></i>
            <p class=" mx-auto w-75 mt-3 "> Naš glavni cilj je zadovoljstvo klijenta, te smo maksimalno posvećeni našim 
                klijentima kako bi pronašli najbolje i najpristupačnije rješenje za bilo kakvu vrstu cestovnog 
                transporta.
            </p>

          </div>
        </div>
      </div>

</div>
    

