.responsive-img {
    width: 100%;
}

/* Za veće zaslone */
@media (min-width: 768px) {
    .responsive-img {
        width: 75%;
    }
}

@media (min-width: 992px) {
    .responsive-img {
        width: 50%;
    }
}

.bg-pump {
    background-image: url('../../../assets/images/pumpa-lopar2.jpg'); /* Put the path to your image */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */

}