<div class="container text-center">
    <h1 class="responsive-title">Cestovni transport</h1>
    <hr class="mt-2">
    <p class="w-75 mx-auto">Naš vozni park omogućava nam pružanje usluge transporta opasnih ADR tereta, 
        slobodnog i paletiziranog tereta poput građevinskog materijala, 
        u domaćem ali i međunarodnom cestovnom prijevozu. U mogućnosti smo u svakom dijelu RH utovariti i 
        dostaviti bilo koju vrstu tereta unutar 24 sata. Možete nas kontaktirati u bilo koje vrijeme, 
        a naš će stručni tim odgovoriti svim Vašim zahtjevima.</p>
    
    <div class="container text-center">
        <div class="row">
            <div class="col-12 col-md mt-4">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="bi bi-geo-alt fs-1"></i>
                        <h5 class="card-title">GPS tehnologija</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">PRATITE ISPORUKU</h6>
                        <p class="card-text">Pomoću napredne GPS satelitske tehnologije praćenja i 
                        navođenja vozila klijent je u mogućnosti pratiti kretanje i poziciju vlastitog tereta
                        neovisno o tome gdje se vozilo u tom trenutku nalazi. Također, našim klijentima 
                        nudimo mogućnost prikaza raznih izvršenih transportnih usluga na međunarodnom i 
                        domaćem području.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md mt-4">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="bi bi-stopwatch fs-1"></i>
                        <h5 class="card-title">Brzina isporuke</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">VRIJEME ISPORUKE</h6>
                        <p class="card-text">U mogućnosti smo dostaviti željeni teret u roku od 24 sata na 
                            svakog području Republike Hrvatske, dok po dogovoru dostavljamo u svakom dijelu 
                            Europske Unije.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md mt-4">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="bi bi-shield-check fs-1"></i>
                        <h5 class="card-title">Sigurnost tereta</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">ZAŠTITA VAŠE ROBE TIJEKOM PRIJEVOZA</h6>
                        <p class="card-text">Osim osiguranja svakog vozila standardnom policom osiguranja,
                             također i svaka vrsta robe koja se prevozi našim specijaliziranim vozilima 
                             osigurana je policom za osiguranje tereta, te policom za osiguranje tvari po 
                             ADR-u za eventualne štete.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <img class="responsive-img p-3" src="../../../assets/images/PJ-vozac.png" alt="PJ Vozač">
   
    
    

</div>
