<div class="container rounded p-3 text-center mb-3">
    <h1 class="responsive-title"> Brzina, pouzdanost, iskustvo.</h1>
    <hr class="mx-4">
    <p class="w-75 mx-auto fs-3">Posjedujemo višegodišnje iskustvo i specijalizirali smo se 
        u prodaji naftnih derivata i plina, kao i u transportu u domaćem ali i međunarodnom
         cestovnom prijevozu.</p>
</div> 

<div class="container text-center">
    <div class="row d-flex justify-content-center mx-2">
        <div class="col-12 col-md mb-4">
            <div class="card h-100 d-flex flex-column">
                <img class="card-img-top" src="../../../assets/images/benzinska-postaja-card.png" alt="PJ-OIL">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h4 class="card-title mb-3"><b>Benzinska postaja</b></h4>
                    <p class="card-text justify">Naša benzinska postaja nudi visokokvalitetna goriva po konkurentnim cijenama. Uživajte u brzom i efikasnom servisu, uz ljubazno osoblje koje je tu da vam pomogne s vašim potrebama. Dođite i napunite svoj rezervoar s povjerenjem!</p>
                    <div class="mt-auto">
                      <a routerLink="/Benzinska-postaja" routerLinkActive="active" class="btn btn-danger w-75">Napuni svoj rezervoar</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md mb-4">
            <div class="card h-100 d-flex flex-column">
                <img class="card-img-top p-3 mx-auto" src="../../../assets/images/caffe-bar-jala-card.png" alt="JALA">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h4 class="card-title mb-3"><b>Caffe bar JALA</b></h4>
                    <p class="card-text justify">U Caffe baru JALA možete uživati u širokoj ponudi pića. Naša opuštena atmosfera savršena je za odmor ili sastanak s prijateljima. Posjetite nas i uživajte u najboljim okusima!</p>
                    <div class="mt-auto">
                      <a routerLink="/CaffeBar-component" class="btn btn-danger w-75">Pogledaj naš meni</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md mb-4">
            <div class="card h-100 d-flex flex-column">
                <img class="card-img-top p-3" src="../../../assets/images/gumi-servis-card.png" alt="Gumi servis">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h4 class="card-title mb-3"><b>Gumi servis PJ</b></h4>
                    <p class="card-text justify">Naš gumi servis nudi širok spektar usluga, uključujući montažu, balansiranje i popravak guma. Naš stručni tim je opremljen najmodernijom opremom kako bi osigurao da vaša vozila budu u vrhunskom stanju.</p>
                    <div class="mt-auto">
                      <a routerLink="/Gumi-servis" class="btn btn-danger w-75">Zakaži servis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mx-2">
        <div class="col-12 col-md mb-4">
            <div class="card h-100 d-flex flex-column">
                <img class="card-img-top p-3" src="../../../assets/images/ordinator-card.png" alt="Dostava plina">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h4 class="card-title mb-3"><b>Dostava plina</b></h4>
                    <p class="card-text justify">Nudimo brzu i efikasnu dostavu plina za vaše potrebe. Naš tim osigurava sigurnu i pravovremenu isporuku, bilo da se radi o kućanstvu ili poslovanju. Naša usluga je pouzdana i prilagođena vašim zahtjevima.</p>
                    <div class="mt-auto">
                      <a href="#" class="btn btn-danger w-75">Naruči plin</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md mb-4">
            <div class="card h-100 d-flex flex-column">
                <img class="card-img-top" src="../../../assets/images/transport-card.png" alt="Transport">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h4 class="card-title mb-3"><b>Transport</b></h4>
                    <p class="card-text justify">Naša tvrtka nudi brze i pouzdane usluge transporta. Bez obzira na veličinu ili vrstu tereta, naš tim stručnjaka osigurava da vaša roba stigne na odredište sigurno i na vrijeme. Kontaktirajte nas za više informacija!</p>
                    <div class="mt-auto">
                      <a class="btn btn-danger w-75" routerLink="/Transport-component" routerLinkActive="active">Rezerviraj prijevoz</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md mb-4">
            <div class="card h-100 d-flex flex-column">
                <img class="card-img-top p-3 mx-auto" src="../../../assets/images/prodaja-drva-card.png" alt="Prodaja drva">
                <div class="card-body d-flex flex-column flex-grow-1">
                    <h4 class="card-title mb-3"><b>Prodaja drva</b></h4>
                    <p class="card-text justify">Nudimo kvalitetna drva za ogrijev, idealna za vašu kuću ili vikendicu. Naša drva su suha i spremna za uporabu, osiguravajući dugotrajnu i učinkovitu toplinu. Kontaktirajte nas za narudžbu i cijene!</p>
                    <div class="mt-auto">
                        <a routerLink="/Prodaja-drva" routerLinkActive="active" class="btn btn-danger w-75">Naruči drva</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>     
</div>
