<div class="text-center container arial">
    <i class="bi bi-telephone fs-1"></i>
    <h1 class="mx-auto responsive-title oswald">Kontaktirajte nas</h1>
    
    <img class="w-75" src="../../../assets/images/pumpa-lopar.jpg" alt="PJ-OIL">
</div>
<!-- Bootstrap Grid Layout -->
<div class="container mt-4">
    <div class="row d-flex justify-content-between align-items-stretch h-100">

        <!-- Prvi div -->
        <div class="col-lg-4 col-md-6 mb-4 arial">
            <div class="border border-danger border-5 rounded p-3 h-100">
                <h3>Povežimo se!</h3>
                <p>Ukoliko imate pitanja, slobodno nas kontaktirajte.<br>
                   Tu smo da odgovorima na sva Vaša pitanja i 
                   pružimo Vam najbitnije informacije!
                </p>
            </div>
        </div>
    
        <!-- Drugi div -->
        <div class="col-lg-4 col-md-6 mb-4 arial">
            <div class="border border-danger border-5 rounded p-4 h-100">
                <h3>Kontakt podaci</h3>
                <p>
                  Adresa sjedišta, benzinske postaje, kafića: Lopar 285A, 51280<br>
                  Adresa gumi servisa: ???<br>
                  Mob: 098/445-1505<br>
                  Tel: 051/314-122<br>
                  E-mail: <a href="mailto:info&#64;pj-transport.hr">info&#64;pj-transport.hr</a>
                </p>
            </div>
        </div>
    
        <!-- Treći div -->
        <div class="col-lg-4 col-md-6 mb-4 arial">
            <div class="border border-danger border-5 rounded p-4 h-100">
                <h3>Radno vrijeme</h3>
                <p>Sjedište tvrtke:   08:00-16:00<br>
                   Benzinska postaja: 07:00-21:00<br>
                   Caffe Bar:         08:00-16:00<br>
                   Gumi servis:  00:00-24:00
                </p>
            </div>
        </div>
    </div>
    
</div>

<form class="p-3 col-lg-5 col-md-6 arial mx-auto">
    <div class="mb-3">
        <label for="exampleInpuImePrezime" class="form-label"required>Ime i prezime</label>
        <input type="imePrezime" class="form-control red-border" id="exampleInpuImePrezime" aria-describedby="imePrezimeHelp">
      </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"required>E-mail</label>
      <input type="email" class="form-control red-border" id="exampleInputEmail1">
      
    </div>
    <div class="mb-3">
      <label for="massageInput" class="form-label">Poruka</label>
      <textarea class="form-control red-border"id="messageInput" rows="3"required></textarea>
    </div>
    
    <button type="submit" class="btn btn-danger">Pošalji</button>
</form>

<!-- Društvene mreže -->
<div class="text-center mt-4 arial">
    <p>Pratite najnovije vijesti pomoću društvenih mreža na našoj Facebook stranici, Instagram i Linkedin profilu.</p>
    <div class="container">
        <i class="bi bi-facebook fs-1 px-3"></i>
        <i class="bi bi-instagram fs-1 px-3"></i>
        <i class="bi bi-linkedin fs-1 px-3"></i>
    </div>
</div>


