<div class="text-center container bg-pump rounded">
    <i class="bi bi-telephone text-white fs-1"></i>
    <h1 class="mx-auto responsive-title">Kontaktirajte nas</h1>
    
    <!--<img class="w-75" src="../../../assets/images/pumpa-lopar.jpg" alt="PJ-OIL"> -->

    <div class="row d-flex justify-content-between align-items-stretch h-100 mt-5">

        <!-- Prvi div -->
        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="border border-3 rounded p-3 h-100 bg-white bg-opacity-75">
                <h3>Povežimo se!</h3>
                <p>Ukoliko imate pitanja, slobodno nas kontaktirajte.<br>
                   Tu smo da odgovorima na sva Vaša pitanja i 
                   pružimo Vam najbitnije informacije!
                </p>
            </div>
        </div>
    
        <!-- Drugi div -->
        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="border border-3 rounded p-4 h-100 bg-white bg-opacity-75">
                <h3>Kontakt podaci</h3>
                <p>
                  Adresa sjedišta, benzinske postaje, kafića: Lopar 285A, 51280<br>
                  Adresa gumi servisa: ???<br>
                  Mob: 098/445-1505<br>
                  Tel: 051/314-122<br>
                  E-mail: <a href="mailto:info&#64;pj-transport.hr">info&#64;pj-transport.hr</a>
                </p>
            </div>
        </div>
    
        <!-- Treći div -->
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="border border-3 rounded p-4 h-100 bg-white bg-opacity-75">
                <h3>Radno vrijeme</h3>
                <p>Sjedište tvrtke:   08:00-16:00<br>
                   Benzinska postaja: 07:00-21:00<br>
                   Caffe Bar:         08:00-16:00<br>
                   Gumi servis:  00:00-24:00
                </p>
            </div>
        </div>
    </div>
    


<form class="p-3 col-lg-5 col-md-6 mx-auto">
    <div class="mb-3">
        <input type="imePrezime" class="form-control border border-3 bg-white bg-opacity-75" id="exampleInpuImePrezime" aria-describedby="imePrezimeHelp" placeholder="Ime i prezime" required>
      </div>
    <div class="mb-3">
      <input type="email" class="form-control border border-3 bg-white bg-opacity-75" id="exampleInputEmail1" placeholder="E-mail" required>
      
    </div>
    <div class="mb-3">
      <textarea class="form-control border border-3 bg-white bg-opacity-75"id="messageInput" rows="3" placeholder="Poruka"></textarea>
    </div>
    
    <button type="submit" class="btn btn-danger">Pošalji</button>
</form>
</div>
<!-- Društvene mreže -->
<div class="text-center mt-4">
    <p>Pratite najnovije vijesti pomoću društvenih mreža na našoj Facebook stranici, Instagram i Linkedin profilu.</p>
    <div class="container">
        <i class="bi bi-facebook fs-1 px-3"></i>
        <i class="bi bi-instagram fs-1 px-3"></i>
        <i class="bi bi-linkedin fs-1 px-3"></i>
    </div>
</div>


