/* src/styles.css */


/* Opći stilovi za naslove */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial', sans-serif; /* Možete promijeniti font prema vašim željama */
    text-transform: uppercase; /* Sva slova velika */
    letter-spacing: 0.1rem; /* Razmak između slova */
    margin: 1.25rem 0; /* Razmak iznad i ispod naslova (20px = 1.25rem) */
}

/* Stil za H1 */
h1 {
    font-size: 3rem; /* Velika veličina za H1 */
    color: #c70039; /* Primjer boje naslova */
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.2); /* Sjena teksta */
    transition: color 0.3s; /* Efekt prijelaza boje */
    font-weight: 700;
}

/* Stil za H2 */
h2 {
    font-family: 'Arial', sans-serif; /* Moguće je promijeniti na drugi font po želji */
    font-size: 2.5rem; /* Veličina H2 naslova */
    color: #333; /* Tamna boja teksta */
    text-transform: capitalize; /* Prvo slovo svake riječi veliko */
    margin: 1.5rem 0; /* Razmak iznad i ispod H2 naslova */
    letter-spacing: 0.05rem; /* Blagi razmak između slova */
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1); /* Blaga sjena za efekat */
}

/* Stil za paragrafe */
p,ul {
    font-family: 'Arial', sans-serif; /* Moguće je promijeniti na drugi font po želji */
    font-size: 0.9rem; /* Veličina paragrafa */
    color: #555; /* Svijetla tamna boja teksta */
    line-height: 1.6; /* Visina linije za bolju čitljivost */
    margin: 1rem 0; /* Razmak iznad i ispod paragrafa */
    letter-spacing: 0.1rem; /* Blagi razmak između slova */
}

h1:hover {
    color: #ff5733; /* Boja pri prelasku miša */
}

i{
    font-size:2rem;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
  }

  .responsive-title {
    font-size: 2.5rem; /* Osnovna veličina fonta */
}

.btn-danger {
    font-weight: bold; /* Bold da tekst izgleda punije */
    font-size: 0.8rem; /* Blago povećanje fonta za isticanje */
    
}


/* Manje veličine fonta za manje ekrane */
@media (max-width: 768px) {
    .responsive-title {
        font-size: 2rem; /* Smanjite veličinu na tabletima */
    }
}

@media (max-width: 576px) {
    .responsive-title {
        font-size: 1.5rem; /* Smanjite veličinu na mobilnim uređajima */
    }
}
